In [5]:
import pandas as pd
df = pd.read_csv("data.csv")

In [6]:
df

  Beam ID,Xi Location,Yi Location,Xj Location,Yj Location
0                                         1,0,0,20,0
1                                         2,0,0,0,20
2                                        4,20,0,30,0
3                                       5,0,20,35,20
4                                      7,35,20,50,20

In [7]:
df

  Beam ID,Xi Location,Yi Location,Xj Location,Yj Location
0                                         1,0,0,20,0
1                                         2,0,0,0,20
2                                        4,20,0,30,0
3                                       5,0,20,35,20
4                                      7,35,20,50,20